{% extends 'base.html' %}

{% block content %}
<h1>
    <ins>
        <i>
            This is the {{ type }} list you have been asking for:
        </i>
    </ins>
</h1>
<div class="table-container">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <tr>
            <th>Roumaji</th>
            <th>{{ type }}</th>
        </tr>
        {% for kana in kanas %}
        <tr>
            <td>
                {{ kana.roumaji }}
            </td>
            <td>
                {{ kana.kana }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}