{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

    {% if form.errors %}
        <p>
            Your username and password didn't match.</br>
            Please try again.
        </p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>
                Your account doesn't have access to this page.</br>
                To proceed, please login with an account that has access.
            </p>
        {% else %}
            <p>
                Please login to see this page.
            </p>
        {% endif %}
    {% endif %}
  
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">
                    Authentication
                </h1>
    
                <div class="columns">
                    <div class="column is-offset-2 is-8">
                        <h2 class="subtitle">
                            Login
                        </h2>
    
                        <form action="{% url 'login' %}" method="POST" autocomplete="off">
                            {% csrf_token %}
            
                            <div class="field">
                                <label for="{{ form.username.id_for_label }}" class="label">
                                    Username
                                </label>
                                <div class="control">
                                    {{ form.username | add_class:"input" }}
                                </div>
                                <p class="help is-danger">
                                    {{ form.username.errors }}
                                </p>
                            </div>
            
                            <div class="field">
                                <label for="{{ form.password1.id_for_label }}" class="label">
                                    Password
                                </label>
                                <div class="control">
                                    {{ form.password | add_class:"input" }}
                                </div>
                                <p class="help is-danger">
                                    {{ form.password.errors }}
                                </p>
                            </div>
            
                            <div class="field">
                                <div class="control">
                                    <button class="button is-link">
                                        Submit
                                    </button>
                                    <button class="button">
                                        <a href='../../katas/register'>
                                            Register
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    {# Assumes you setup the password_reset view in your URLconf #}
    <p>
        <a href="{% url 'password_reset' %}">
            Lost password?
        </a>
    </p>
  
{% endblock %}