{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    <div class="buttons has-addons">
        <a href='globe'>
            <button class="button">
                G.L.O.B.E.
            </button>
        </a>
        <a href='katatoeba'>
            <button class="button">
                Katatoeba
            </button>
        </a>
    </div>
</div>

{% endblock %}