{% extends 'base.html' %}

{% load widget_tweaks %}
<!--- Test: aer123!rea ---> 
{% block content %}
<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                Authentication
            </h1>

            <div class="columns">
                <div class="column is-offset-2 is-8">
                    <h2 class="subtitle">
                        Register
                    </h2>

                    <form action="{% url 'register' %}" method="POST" autocomplete="off">
                        {% csrf_token %}
        
                        <div class="field">
                            <label for="{{ form.username.id_for_label }}" class="label">
                                Username
                            </label>
                            <div class="control">
                                {{ form.username | add_class:"input" }}
                            </div>
                            <p class="help is-danger">
                                {{ form.username.errors }}
                            </p>
                        </div>
        
                        <div class="field">
                            <label for="{{ form.password1.id_for_label }}" class="label">
                                Password
                            </label>
                            <div class="control">
                                {{ form.password1 | add_class:"input" }}
                            </div>
                            <p class="help is-danger">
                                {{ form.password1.errors }}
                            </p>
                        </div>
        
                        <div class="field">
                            <label for="{{ form.password2.id_for_label }}" class="label">
                                Password Check
                            </label>
                            <div class="control">
                                {{ form.password2 | add_class:"input" }}
                            </div>
                            <p class="help is-danger">
                                {{ form.password2.errors }}
                            </p>
                        </div>
        
                        <div class="field">
                            <div class="control">
                                <button class="button is-link">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}