{% extends 'base.html' %}

{% block content %}
{% for button in buttons %}
<a href='{{ button.href }}'>
    <button class="button is-link is-large is-fullwidth">
        {{ button.title }}
    </button>
</a>
{% endfor %}
{% endblock %}