{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <form>
        {% csrf_token %}
        <div class="form-group">
            <label for="french">
                Phrase en français :
            </label>
            <input type="text" class="form-control" id="french" name="french" placeholder="Ceci est un stylo.">
        </div>
        <div class="form-group">
            <label for="japanese">
                Phrase en japonais :
            </label>
            <input type="text" class="form-control" id="japanese" name="japanese" placeholder="これはペンです">
        </div>
        <div class="form-group">
            <label for="japanese">
                Tags séparés d'une virgule :
            </label>
            <input type="text" class="form-control" id="tags" name="tags" placeholder="TE form, passé, négation, ...">
        </div>
        <button type="submit" formmethod="post" class="btn btn-primary">
            Submit
        </button>
    </form>
</div>
{% endblock %}