{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <form>
        {% csrf_token %}
        {% for example in examples %}
        <div class="form-group">
            <label for="french">
                De {{ example.user.username }} :
            </label>
            <input type="text" class="form-control" id="french" name="french {{ example.id }}" value="{{ example.french }}">
            <input type="text" class="form-control" id="japanese" name="japanese {{ example.id }}" value="{{ example.japanese }}">
            <input type="text" class="form-control" id="tags" name="tags {{ example.id }}" value="{{ example.tags }}">
            {% if example.comment != '' %}
            <p class="text-warning">
                {{ example.comment }}
            </p>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" formmethod="post" class="btn btn-primary">
            Submit
        </button>
    </form>
</div>
{% endblock %}