{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <form>
        {% csrf_token %}
        <select name="tags" id="example" class="form-control"  multiple="multiple" style="display: none;">
        {% for tag in tags %}
            <option value="{{ tag.name }}"{% if tag.name in ctags %} selected{% endif %}>{{ tag.name }}</option>
        {% endfor %}
        </select>
        <button type="submit" formmethod="post" class="btn btn-primary waves-effect waves-light">
            Apply
        </button>
        <select name="type" id="type">
            {% if type == 'and' %}
            <option value="and">ET</option>
            <option value="or">OU</option>
            {% else %}
            <option value="or">OU</option>
            <option value="and">ET</option>
            {% endif %}
        </select>
        <select name="lang" id="lang">
            {% if lang == 'FR' %}
            <option value='FR'>FR>JP</option>
            <option value='JP'>JP>FR</option>
            {% else %}
            <option value='JP'>JP>FR</option>
            <option value='FR'>FR>JP</option>
            {% endif %}
        </select>
    </form>
    <hr>
    <a href='create'>
        <button class="btn btn-primary waves-effect waves-light">
            Add new example
        </button>
    </a>
    <a href='edit'>
        <button class="btn btn-primary waves-effect waves-light">
            Edit examples
        </button>
    </a>
    <a href='validate'>
        <button class="btn btn-primary waves-effect waves-light"{% if not perms.kata.change_example %} disabled{% endif %}>
            Validate
        </button>
    </a>
    {% for example in examples %}
        <div class="card" style="width: 40rem;" >
            <a onclick="document.getElementById('{{ example.id }}').style.visibility = 'visible'">
                <div class="card-header bg-info text-white">
                    {% if lang == 'FR' %}{{ example.french }}{% else %}{{ example.japanese }}{% endif %}
                </div>
            </a>
            <a onclick="document.getElementById('{{ example.id }}').style.visibility = 'hidden'">
                <div>
                    <ul class="list-group list-group-flush" id='{{ example.id }}' style="visibility: hidden">
                        <li class="list-group-item bg-light">{% if lang == 'FR' %}{{ example.japanese }}{% else %}{{ example.french }}{% endif %}</li>
                    </ul>
                </div>
            </a>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
$(function(){
    $("#example").bsMultiSelect();
});
</script>
{% endblock %}