{% extends 'base.html' %}

{% block content %}
<script>
var valids = []
var goners = []
var comments = {}
function out(array, id){
    if(array.includes(id)){
        var index = array.indexOf(id);
        array.splice(index, 1);
    }
}
function update(){
    document.getElementById('goners').value = goners.join();
    document.getElementById('valids').value = valids.join();
    document.getElementById('comments').value = JSON.stringify(comments);
}
function remove(id){
    if(!goners.includes(id)) goners.push(id);
    out(valids, id);
    $('#r_'+id).removeClass('bg-danger').addClass('bg-dark').addClass('text-white');
    $('#v_'+id).addClass('bg-success').removeClass('bg-dark').removeClass('text-white');
    update();
}
function validate(id){
    if(!valids.includes(id)) valids.push(id);
    out(goners, id);
    $('#r_'+id).addClass('bg-danger').removeClass('bg-dark').removeClass('text-white');
    $('#v_'+id).removeClass('bg-success').addClass('bg-dark').addClass('text-white');
    update();
}
function comment(id){
    comments[id] = $('#c_'+id).val();
    update();
    alert('Comment updated');
}
</script>

<div class="container my-4">
    {% for example in examples %}
        <div class="card" id='{{ example.id }}' style="width: 40rem;">
            <a href="../edit/{{ example.id }}">
                <div class="card-header bg-info text-white">
                    {{ example.japanese }}
                </div>
            </a>
            <ul class="list-group list-group-flush" id='{{ example.id }}'>
                <li class="list-group-item bg-light">{{ example.french }}</li>
                <a onclick="remove('{{ example.id }}')">
                    <li class="list-group-item bg-danger" id="r_{{ example.id }}">Invalidate</li>
                </a>
                <a onclick="validate('{{ example.id }}')">
                    <li class="list-group-item bg-success" id="v_{{ example.id }}">Validate</li>
                </a>
                <li class="list-group-item bg-warning">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control w-75" id="c_{{ example.id }}" value="{{ example.comment }}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" onclick="comment('{{ example.id }}')">
                                Set comment
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr>
    {% endfor %}

    <form>
        {% csrf_token %}
        <input type='hidden' id='valids' name='valids'>
        <input type='hidden' id='goners' name='goners'>
        <input type='hidden' id='comments' name='comments'>
        <button type='submit' formmethod="post" class="btn btn-primary waves-effect waves-light">
            Confirms
        </button>
    </form>
</div>
{% endblock %}