{% extends 'base.html' %}

{% block content %}
<script>
var valids = []
var goners = []
function out(array, id){
    if(array.includes(id)){
        var index = array.indexOf(id);
        array.splice(index, 1);
    }
}
function update(){
    document.getElementById('goners').value = goners.join();
    document.getElementById('valids').value = valids.join();
}
function remove(id){
    if(!goners.includes(id)) goners.push(id);
    out(valids, id);
    $('#r_'+id).addClass('bg-danger').removeClass('bg-dark').removeClass('text-white');
    $('#v_'+id).removeClass('bg-success').addClass('bg-dark').addClass('text-white');
    update();
}
function validate(id){
    if(!valids.includes(id)) valids.push(id);
    out(goners, id);
    $('#r_'+id).removeClass('bg-danger').addClass('bg-dark').addClass('text-white');
    $('#v_'+id).addClass('bg-success').removeClass('bg-dark').removeClass('text-white');
    update();
}
</script>

<div class="container my-4">
    {% for globe in globes %}
        <div class="card" id='{{ globe.id }}' style="width: 40rem;">
            <div class="card-header bg-info text-white">
                {{ globe.theme }}
            </div>
            <ul class="list-group list-group-flush" id='{{ globe.id }}'>
                <a onclick="validate('{{ globe.id }}')">
                    <li class="list-group-item {% if globe.activated %}bg-success{% else %}bg-dark text-white{% endif %}" id="v_{{ globe.id }}">Activated</li>
                </a>
                <a onclick="remove('{{ globe.id }}')">
                    <li class="list-group-item {% if not globe.activated %}bg-danger{% else %}bg-dark text-white{% endif %}" id="r_{{ globe.id }}">Deactivated</li>
                </a>
            </ul>
        </div>
        <hr>
    {% endfor %}

    <form>
        {% csrf_token %}
        <input type='hidden' id='valids' name='valids'>
        <input type='hidden' id='goners' name='goners'>
        <button type='submit' formmethod="post" class="btn btn-primary waves-effect waves-light">
            Confirms
        </button>
    </form>
</div>
{% endblock %}