{% extends 'base.html' %}

{% block content %}

<style>
.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}
</style>


<script> 

var gidx = 0;
var qs = [];

function genMC(idx){
    return `
        <div class="entry input-group col-xs-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" name="ans${gidx}" value="${idx}" aria-label="Checkbox for following text input" />
                </div>
            </div>
            <input type="text" name="ans${gidx}_${idx}" class="form-control" aria-label="Text input with checkbox" />
        </div>
    `;
}

function genSC(idx){
    return `
        <div class="entry input-group col-xs-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" name="ans${gidx}" value="${idx}" aria-label="Radio button for following text input" required />
                </div>
            </div>
            <input type="text" name="ans${gidx}_${idx}" class="form-control" aria-label="Text input with radio button" />
        </div>
    `;
}

function genQ(){ 
    //var UID = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
    return `
    <div id="${gidx}">
        <div class="entry input-group col-xs-6">
            <input class="form-control" name="text${gidx}" type="text" placeholder="Type your question here${gidx}" />
            <span class="input-group-btn">
                <button class="btn btn-success btn-remove" type="button" onclick="removeQ(${gidx})"s>
                    <span class="glyphicon glyphicon-minus">-</span>
                </button>
                <select name="diff${gidx}">
                    <option value="BA">Basics</option>
                    <option value="EZ">Easy</option>
                    <option value="IM">Intermediary</option>
                    <option value="DF">Difficult</option>
                    <option value="MR">Muri</option>
                    <option value="MD">Muda</option>
                </select>
            </span>

        </div>
    `;
}
function sc(){
    return `
        ${genSC(1)}
        ${genSC(2)}
        ${genSC(3)}
        ${genSC(4)}
        ${genSC(5)}
        ${genSC(6)}
    `;
}
function mc(){
    return `
        ${genMC(1)}
        ${genMC(2)}
        ${genMC(3)}
        ${genMC(4)}
        ${genMC(5)}
        ${genMC(6)}
    `;
}
function ta(){
    return `
        <div class="entry input-group col-xs-3">
            <input class="form-control" name="ans${gidx}" type="text" placeholder="Answer" />
        </div>
    `;
}

function gen(type){
    return `
        ${genQ()}
            <input type='hidden' name="type${gidx}" value="${type}" />
            ${type == 'SC' ? sc() : type == 'MC' ? mc() : ta() }
            <hr>
        </div>
    `;
}
function addQ(){
    var type = $("#type option:selected").val()
    var controlForm = $('#questions').append(gen(type));
    qs.push(gidx++);
    $('#qs').val(qs.join(';'));

    controlForm.find('.entry:not(:last) .btn-add')
        .removeClass('btn-add').addClass('btn-remove')
        .removeClass('btn-success').addClass('btn-danger')
        .html('<span class="glyphicon glyphicon-minus"></span>');
    return false;
}
function removeQ(idx){
    $('#'+idx).remove();
    qs.splice(qs.indexOf(idx), 1)
    $('#qs').val(qs.join(';'));
    return false;
}
</script>

<div class="container">
	<div class="row">
        <div class="control-group" id="fields">
            <label class="control-label" for="field1">Globe creation</label>
            <div class="controls"> 
                <form role="form" autocomplete="off">
                    {% csrf_token %}
                    <div class="entry input-group col-s-3">
                        <input class="form-control" name="globe" type="text" placeholder="Globe name" />
                        <input id="qs" name="qs" type="hidden" value="0" />
                    </div>
                    <hr>
                    <div id="questions"></div>
                    <input type="submit" formmethod="post" class="btn btn-primary waves-effect waves-light">
                </form>
            </div>
            <hr>
            <strong>Add new question</strong>
            <select name="type" id="type">
                <option value="SC">Single Choice</option>
                <option value="MC">Multi Choice</option>
                <option value="TA">Text Answer</option>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-success btn-add" type="button" onclick="addQ()">
                    <span class="glyphicon glyphicon-plus">+</span>
                </button>
            </span>
        </div>
	</div>
</div>



{% endblock %}