{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    <div class="buttons has-addons">
    {% for globe in globes %}
        <a href='{{ globe.mini }}'>
            <button class="button"{% if not globe.activated %} disabled{% endif %}>
                {{ globe.theme }}
            </button>
        </a>
    {% endfor %}
    </div>
    <a href='create'>
        <button class="btn btn-primary waves-effect waves-light">
            Create globe
        </button>
    </a>
    <a href='activate'>
        <button class="btn btn-primary waves-effect waves-light">
            Activate globes
        </button>
    </a>
</div>

{% endblock %}