{% extends 'base.html' %}

{% block content %}

<style>
input[type=radio][value="option1"]:checked+label:after {
    border-color: #2e7d32;
  background-color: #2e7d32;
}

input[type=radio][value="option2"]:checked+label:after {
    border-color: #64dd17;
  background-color: #64dd17;
}

input[type=radio][value="option3"]:checked+label:after {
    border-color: #ffea00;
  background-color: #ffea00;
}

input[type=radio][value="option4"]:checked+label:after {
    border-color: #ff9800;
  background-color: #ff9800;
}

input[type=radio][value="option5"]:checked+label:after {
    border-color: #d50000;
  background-color: #d50000;
}
</style>

<script>
    function check(){
        var ok = true;
        try{
            {% for question in questions %}
                {% if question.desc.qtype == 'TA' %}
                    if(!$("input[name='answerTo {{ question.desc.id }}']").val().length){
                        $("#ans{{ forloop.counter }}").html("<span class='alert alert-danger' id='error'>You must answer this question!</span>");
                        ok = false;
                    }
                {% elif question.desc.qtype == 'SC' %}
                    if(!$("input[name='answerTo {{ question.desc.id }}']:checked").val()){
                        $("#ans{{ forloop.counter }}").html("<span class='alert alert-danger' id='error'>You must answer this question!</span>");
                        ok = false;
                    }
                {% elif question.desc.qtype == 'MC' %}
                    if(!$("input[name='answersTo {{ question.desc.id }}']:checked").length > 0){
                        $("#ans{{ forloop.counter }}").html("<span class='alert alert-danger' id='error'>You must answer this question!</span>");
                        ok = false;
                    }
                {% endif %}
            {% endfor %}
            return ok;
        }catch(err){
            console.log(err);
            return false;
        }
    }
</script>



<div class="container my-4">
    <a href="edit">
        <button class="btn btn-primary waves-effect waves-light"{% if not can_edit %} disabled{% endif %}>
            Edit
        </button>
    </a>
    <form onsubmit="return check()">
        {% csrf_token %}
        <div class="container my-4">
            <p class="font-weight-bold">
                {{ globe.theme }}
            </p>
            <hr>
            {% for question in questions %}
                <div class="container">
                    <div class="row">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalPoll-{{ forloop.counter }}">
                            Question {{ forloop.counter }}
                        </button>
                        <div class="container">
                            <div id="ans{{ forloop.counter }}">
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="modal fade right" id="modalPoll-{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
                    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
                        <div class="modal-content">
                            <!-- Header -->
                            <div class="modal-header">
                                <p class="heading lead" style="color:{{ question.diff.color }}">
                                    Question {{ forloop.counter }} [{{ question.diff.name }}]
                                </p>
                                <br/>
                                {{ question.desc.text }}
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">
                                        ×
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col-xs-3 col-xs-offset-5">
                                    <div id="loadbar" style="display: none;">
                                        <div class="blockG" id="rotateG_01"></div>
                                        <div class="blockG" id="rotateG_02"></div>
                                        <div class="blockG" id="rotateG_03"></div>
                                        <div class="blockG" id="rotateG_04"></div>
                                        <div class="blockG" id="rotateG_05"></div>
                                        <div class="blockG" id="rotateG_06"></div>
                                        <div class="blockG" id="rotateG_07"></div>
                                        <div class="blockG" id="rotateG_08"></div>
                                    </div>
                                </div>
                                <div class="quiz" id="quiz" data-toggle="buttons">
                                    {% if question.desc.qtype == 'TA' %}
                                        <input class="form-control" type="text" name="answerTo {{ question.desc.id }}" placeholder="Answer">
                                        <label class="element-animation1 btn btn-lg btn-primary btn-block" data-dismiss="modal" onclick="document.getElementById('ans{{ forloop.counter }}').innerText=document.getElementsByName('answerTo {{ question.desc.id }}')[0].value">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-chevron-right"></i>
                                            </span>
                                            Validate
                                        </label>
                                    {% elif question.desc.qtype == 'SC' %}
                                        {% for choice in question.answer.choices %}
                                            <label class="element-animation1 btn btn-lg btn-primary btn-block">
                                                <span class="btn-label">
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </span>
                                                <input type="radio" name="answerTo {{ question.desc.id }}" value="{{ choice }}" data-dismiss="modal" onclick="document.getElementById('ans{{ forloop.parentloop.counter }}').innerText='{{ choice }}'">
                                                {{ choice }}
                                            </label>
                                        {% endfor %}
                                    {% elif question.desc.qtype == 'MC' %}
                                        {% for choice in question.answer.choices %}
                                            <label class="element-animation1 btn btn-lg btn-primary btn-block">
                                                <span class="btn-label">
                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                </span>
                                                <input type="checkbox" name="answersTo {{ question.desc.id }}" value="{{ choice }}">
                                                {{ choice }}
                                            </label>
                                        {% endfor %}
                                        <hr>
                                        <label class="element-animation1 btn btn-lg btn-primary btn-block" data-dismiss="modal" onclick="document.getElementById('ans{{ forloop.counter }}').innerText=Array.prototype.map.call(document.querySelectorAll('input[name=\'answersTo {{ question.desc.id }}\']:checked'), function(el){return el.value;}).join(', ')">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-chevron-right"></i>
                                            </span>
                                            Validate
                                        </label>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <hr>
            {% endfor %}
            
            <input type="submit" formmethod="post" class="btn btn-primary waves-effect waves-light">
        </div>
    </form>
</div>

{% endblock %}