{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="buttons has-addons">
        {% for resolution in resolutions %}
            <a href='{{ resolution.user.id }}'>
                <button class="button">
                    {{ resolution.user.username }}
                </button>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}