{% extends 'base.html' %}

{% block content %}
<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
h1 { font-size:54px; line-height:66px; color: #000000; font-weight: 300; border-bottom: dashed 1px #ebebeb; padding:0 0 14px 0; margin:0 0 30px; word-break: break-word; }
h1 span, h2 span{ color:#0088cc;}

#container {}
.wrapperWidth{ width:1350px; margin:0 auto;}
.clearfix:after {  content: "."; display:block; font-size:0; line-height:0; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }		
* html .clearfix { height:1%; }
.clearfix { display:block; }
.innerWrapper{ padding:30px 20px 20px 20px; position: relative }
#widecolumn{ width:69%;  float:left; padding:10px 0 0px 0; }
.single-column #widecolumn{ float:none; width:auto}
.single-column aside { float:none; width:auto}

article section { margin-bottom:30px; }
article { margin-bottom: 30px; }
.privew{ margin-bottom:20px;}

#logo, nav, .questions, .questionsBox, .yourScore, .quizResult, .privewHome, .listof, .newslaterheader .button { font-family: 'Open Sans', sans-serif;}
.quizResult { margin:0 0 10px 0; border-bottom:solid 1px #e3e3e3; padding-bottom:6px; font-size: 15px; line-height: 28px; }
.quizResult li{ margin:0 0 6px; border:solid 1px #e3e3e3;  padding:5px 20px; border-radius:5px; position:relative;}
.quizResult h2 { font-size: 22px; margin:0; font-weight:300;}
.quizResult li.resultAnsIswrong {background-color:#fff2f2; border-color:#fae1e1;}
.quizResult li.resultAnsIscorrect{background-color:#f6ffee; border-color:#e2f8cf;}
.quizResult .ansStute{ position:absolute; left:0; top:-1px; bottom:-1px;  color:#FFF;  font-weight:500; padding:0; width:6px;  border-radius:5px 0 0 5px;}
.quizResult li.resultAnsIswrong .ansStute{background:#aa0101;}
.quizResult li.resultAnsIscorrect .ansStute{background:#00a637;}

.quizScore{ background:#e8f7ff; border:solid 1px #d8eefa; padding:10px 20px; border-radius:5px;}
.quizScore a.button{ float:right;}
.yourScore{ font-size:18px; line-height:30px; color:#0e5e88;}

</style>


<div id="container" class="wrapperWidth clearfix">
    {% if 'Results' not in crumbs %}
    <a href="results">
        <button class="btn btn-primary waves-effect waves-light"{% if not can_view_results %} disabled{% endif %}>
            Results
        </button>
    </a>
    <a href="edit">
        <button class="btn btn-primary waves-effect waves-light"{% if not can_edit %} disabled{% endif %}>
            Edit
        </button>
    </a>
    {% endif %}
    <div class="innerWrapper">
        <div id="widecolumn">
			<article>
                <h1 class="p-name">
                    {{ theme }}
                </h1>
                <script src="https://www.htmllion.com/includ/quiz/htmlhint.js"></script>
                <div class="privew">
                    <ul class="quizResult">
                        {% for question in questions %}
                            <li class="{% if question.result %}resultAnsIscorrect{% else %}resultAnsIswrong{% endif %}">
                                <h2>
                                     {{ question.text }}
                                </h2>
                                <div class="ansStute"></div>
                                {% if not question.result %}
                                    <div>
                                        <strong>
                                            Your Answer:
                                        </strong>
                                        {{ question.answer }}
                                    </div>
                                {% endif %}
                                <div>
                                    <strong>
                                        Correct Answer:
                                    </strong>
                                    {{ question.correct }}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="quizScore clearfix">
                        <div class="alingLeft yourScore">
                            <strong>
                                Your Score is:
                            </strong>
                            {{ goods }} Out Of {{ out_of }}
                        </div>
                        <a href="#" id="reTry" class="button">
                            WIP
                        </a>
                    </div>
                </div>
                <br>    
            </article>
        </div>
    </div>
</div>

{% endblock %}