<!DOCTYPE html>
<html>
    <head>
        <title>Ages</title>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet" type="text/css" />
        <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <!-- Include jQuery Timeline CSS -->
        <link href="{% static "timeline/jquery.roadmap.min.css" %}" rel="stylesheet" type="text/css" />
    <style>
    body { background-color: #fafafa; font-family: 'Roboto'; overflow-x: hidden; }
    h1 { margin: 150px auto 30px auto; text-align: center; }
    </style>
    </head>
    <body>
        <div id="jquery-script-menu">
            <div class="jquery-script-center">
                <div class="jquery-script-clear"></div>
            </div>
        </div>
    <h1>Aras' ages</h1>
        <div id="my-timeline"></div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
        <script src="{% static "timeline/jquery.roadmap.js" %}" type="text/javascript"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                var events = [
                    {% for age in ages %}
                    {
                        date: '<a href="{{ age.mini }}">{{ age.name }}</a>',
                        content: 'From {{ age.beg }} to {{ age.end }}.'
                    },
                    {% endfor %}
                ];
                $('#my-timeline').roadmap(events, {
                    eventsPerSlide: 6,
                    slide: 1,
                    prevArrow: '<i class="material-icons">keyboard_arrow_left</i>',
                    nextArrow: '<i class="material-icons">keyboard_arrow_right</i>'
                });
            });
        </script>
        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>
    </body>
</html>
